@charset "UTF-8";

//リセット
* {
  margin: 0;
  padding: 0;
}

//iOS対策
label {
  cursor: pointer;
}

//全体的指定
body {
  background-color: $ushiro;
  color: $moji;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
a:link {
  color: $link;
}
a:visited {
  color: $link_visited;
}
a:active {
  color: $link_active;
}
a:hover {
  color: $link_hover;
}

hr {
  border: dashed 1px $border;
  margin: 1ex auto;
}
hr.hr {
  clear: both;
}
//----------
header, main > section > .thread, footer > article {
  background-color: $haikei;
  padding: 8px;
}
header {
  margin: 12px auto;
  display: block;
  width: 70%;
  border: solid 1px $border;
}
main > section > .thread {
  @extend header;
}
main > article#catalog {
  @extend header;
}
footer > article {
  @extend header;
  form {
    text-align: right;
  }
}
footer > article.copy {
  @extend header;
  text-align: right;
}
input {
  border-style: solid;
  border-color: $b_border_u $b_border $b_border $b_border_u;
  border-width: 1px;
  color: $form_txt;
  background-color: $form_txt_bk;
  padding: 3px;
}
textarea {
  @extend input;
  width: 25em;
  height: 5em;
}
button {
  border-style: solid;
  border-color: $b_border $b_border_u $b_border_u $b_border;
  border-width: 1px;
  color: $form_txt;
  background-color: $form_txt_bk;
}
select {
  @extend input;
  padding: 2px;
  vertical-align: middle;
}
select[name="picw"], select[name="pich"] {
  width: 4em;
}
select[name="shi"] {
  width: 11em;
}
input[name="del[]"] {
  width: 4em;
}
input[name="pwd"] {
  width: 6em;
}
input[value="お絵かき"] {
  background-color: $button;
  color: $button_moji;
}
input[name="upfile"] {
  width: 25em;
}
input.copy_txt {
  width: 1px;
  height: 1px;
  position: relative;
  vertical-align: middle;
  left: 2em;
  z-index: -1;
}
button.copy_button {
  @extend button;
  @extend input[value="お絵かき"];
  padding: 3px 1ex 3px 1ex;
  display: inline-block;
}
em.thispage {
  font-weight: bold;
  font-style: normal;
}
.se {
  @extend input;
  background-color: $ushiro;
  color: $moji;
  font-style: normal;
}

.name {
  line-height: 1em;
  border: solid 1px $button;
  border-radius: 5px;
  display: inline-block;
  a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: inherit;
  }
}
.name:hover {
  background-color: $ushiro;
}

h1 + div {
  text-align: right;
}

h1 a {
  text-decoration: none;
}

h2 {
  border-left: solid 1ex $border;
  background-color: $th_bg;
  padding-left: 5px;
}
h3 {
  margin-top: 1ex;
}

figure {
  float: left;
  margin-right: 8px;
  margin-bottom: 1ex;
  img {
    max-width: 100%;
  }
}
figcaption {
  font-size: smaller;
  margin: 10px 0;
}
ul {
  list-style-type: none;
  font-size: smaller;
}
ul.menu {
  font-size: medium;
  line-height: 2em;
}
.res {
  section {
    display: table;
  }
  h3, h4 {
    font-size: 100%;
    margin-bottom: 1ex;
  }
  figure {
    float: none;
  }
  article {
    display: table;
    min-width: 250px;
  }
}
.resma {
  color: $resmoji;
}
.thfoot {
  clear: left;
  text-align: right;
}
.button {
  @extend button;
  @extend input[value="お絵かき"];
  padding: 3px 1ex 3px 1ex ;
  display: inline-block;
  a {
    text-decoration: none;
    color: $button_moji;
    i {
      color: $button_moji;
    }
  }
}
.oyano, .oyaresno {
  font-weight: bold;
}
.oekaki {
  font-size: smaller;
}
#appstage {
  display: block;
  text-align: center;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}
.NEO {
  .color_bk { color: $bk; }
  .color_bk2 { color: $bk2; }
  .color_tool_icon { color: $tool_icon; }
  .color_icon { color: $icon; }
  .color_iconselect { color: $iconselect; }
  .color_text { color: $text; }
  .color_bar { color: $bar; }
  .tool_color_button { color: $tool_button; }
  .tool_color_button2 { color: $tool_button2; }
  .tool_color_text { color: $tool_text; }
  .tool_color_bar { color: $tool_bar; }
  .tool_color_frame { color: $tool_frame; }
}
.palette {
  width: 180px;
  fieldset {
    text-align: center;
    textarea {
      width: 120px;
      height: 1.2em;
    }
  }
}
.c {
  text-align: center;
}
#catalog > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    width: $cat_img_size + 16px;
    text-align: center;
    overflow: hidden;
  }
  p {
    display: table;
    margin: 0.5ex auto;
  }
  p a {
    display: table-cell;
    width: $cat_img_size;
    height: $cat_img_size;
    vertical-align: middle;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}
.delfo {
  font-size: smaller;
  th, td {
    border: 1px solid $ushiro;
  }
  tr:nth-child(odd) {
    background-color: $th_bg;
  }
}

//以下レスポンシブ対応
@media screen and (max-width: 1024px) {
  header, main > section > .thread, main > article#catalog, footer > article {
    width: 90%;
  }
  .res {
    clear: left;
  }
}

@media screen and (max-width: 450px) {
  textarea, input[name="upfile"] {
    width: 15em;
  }
  #appstage {
    display: block;
  }
}

//----------

#search {
  body {
    margin: 8px 10px;
    font-family: "Hiragino Sans", meiryo, ヒラギノ角ゴシック, メイリオ, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: $search_body_color;
    background-color: $search_body_background-color;
    letter-spacing: .08em
  }

  h1 {
    font-size: 16px;
    display: inline-block;
    margin: 0
  }

  h2 {
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    margin: 0 0 8px;
    background-color: inherit;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0
  }

  .title {
    color: $search_title_color;
    background-color: $search_title_background-color;
    border-left: 8px solid $search_title_border-left;
    padding: 6px 5px 2px;
    margin: 0 0 10px
  }

  a {
    color: $search_a_color;
    text-decoration: underline
  }
  a:hover {
    text-decoration: none
  }

  #main {
    margin: 0 auto;
    width: 928px
  }

  .newimg {
    margin: 19px 0 10px 0;
    line-height: 1;
  }
  .newimg ul {
    margin: 0;
    padding: 0
  }
  .newimg li {
    display: inline-block
  }
  .newimg li:nth-of-type(5n) {
    margin-right: 0
  }

  .catalog {
    width: 180px;
    margin: 0 5px 5px 0
  }
  .catalog img {
    width: 100%;
    vertical-align: text-top;
    border: none
  }

  .clear {
    clear: both
  }

  .leftbox {
    float: left
  }
  .rightbox {
    float: right
  }
  .leftbox,
  .rightbox {
    width: auto;
    margin: 1px 0 16px;
  }

  p{
    margin: 1em 0;
  }

  .title_wrap {
    display: inline-block
  }

  input[type=text] {
    height: 20px;
    width: 180px;
    border: 1px solid;
    color: $search_input_text_color;
    border-color: $search_input_text_border-color;
    background-color: $search_input_text_background-color;
    vertical-align: middle
  }
  input[type=text]:hover {
    background-color: $search_input_text_hover;
  }

  input[type=submit] {
    color: $search_input_submit_color;
    border: 1px solid;
    border-color: $search_input_submit_border-color;
    background-color: $search_input_submit_background-color;
    vertical-align: middle
  }

  .menu {
    margin: 16px 0 14px
  }

  .name {
    font-weight: 700;
    color: $search_name_color;
    display: inline-block;
    border: 1px solid $search_name_border-color;
    border-radius: 6px;
    line-height: 1em;
  }
  .name:hover {
    background-color: $search_name_hover;
  }

  .name a {
    color: $search_name_a_color;
    display: block;
    padding: 5px;
  }

  .comments_title_wrap a {
    text-decoration: none;
  }

  .res_button_wrap {
    text-align: right;
    margin: 8px 0 -8px;
  }
  .res_button_wrap form {
    display: inline-block;
    width: 200px;
    vertical-align: inherit;
  }

  .page_top {
    display: inline-block;
    margin: 0 0 0 6px;
    vertical-align: -webkit-baseline-middle;
  }

  .res_button {
    width: 5em;
  }
  .res_button:hover {
    background-color: $search_res_button_hover;
  }
  .res_button form {
    display: inherit;
  }

  .comments_title_wrap {
    display: block;
    line-height: 2em;
    margin: 8px 0 5px;
  }

  input[type=radio] {
    display: none;
  }
  input[type=radio]:checked+label {
    color: #000;
    background: $search_checked_radio_background-color;
  }

  .label {
    color: $search_label_color;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid $search_label_border-color;
    border-radius: 15px;
  }
  .label:hover {
    background-color: $search_label_hover_background-color;
  }

  .radio {
    display: inline-block;
    margin: 0 0 16px 0;
  }

  @media screen and (max-width:967px) {
    #main {
      width: 736px;
    }
    .newimg li:nth-of-type(5n) {
      margin-right: 5px;
    }
    .newimg li:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  @media screen and (max-width:767px) {
    #main {
      width: 100%;
    }
    .newimg {
      padding: 5px 0 0 0;
    }
    .catalog {
      width: 24.2%;
      margin: 0 1.0666% 3px 0;
    }
    .newimg li:nth-of-type(5n) {
      margin-right: 1.0666%;
    }
    .newimg li:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}