@charset "UTF-8";
/*! =====このcssファイルはsassから生成されています。===== */

//設定ファイルの読み込み
@import "mono_dark_conf";

//リセット
* {
	margin: 0px;
	padding: 0px;
}

//iOS対策
label {
    cursor: pointer;
}

//全体的指定
body {
	background-color: $ushiro;
	color: $moji;
	font-family: sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
a:link {
	color: $link;
}
a:visited {
	color: $link_visited;
}
a:active {
	color: $link_active;
}
a:hover {
	color: $link_hover;
}

hr {
	border-style: dashed;
	border-width: 1px;
	border-color: $border;
	margin: 1ex auto;
}
hr.hr {
	clear: both;
}
//----------
header, main > section > .thread, footer > article {
	background-color: $haikei;
	padding: 8px;
}
header {
	margin: 12px;
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
	border-color: $border;
}
main > section > .thread {
	@extend header;
}
main > article#catalog {
	@extend header;
}
footer > article {
	@extend header;
	form {
		text-align: right;
	}
}
footer>article.copy {
	@extend header;
	text-align: right;
}
input {
	border-style: solid;
	border-color: $b_border_u $b_border $b_border $b_border_u;
	border-width: 1px;
	color: $form_txt;
	background-color: $form_txt_bk;
	padding: 3px;
}
textarea {
	@extend input;
	width: 25em;
	height: 5em;
}
button {
	border-style: solid;
	border-color: $b_border $b_border_u $b_border_u $b_border;
	border-width: 1px;
	color: $form_txt;
	background-color: $form_txt_bk;
}
select {
	@extend input;
	padding: 2px;
	vertical-align: middle;
}
select[name="picw"], select[name="pich"] {
	width: 4em;
}
select[name="shi"] {
	width: 11em;
}
input[name="del[]"] {
	width: 4em;
}
input[name="pwd"] {
	width: 6em;
}
input[value="お絵かき"] {
	background-color: $button;
	color: $button_moji;
}
input[name="upfile"] {
	width: 25em;
}
input.copy_txt {
	width: 1px;
	height: 1px;
	position: relative;
	vertical-align: middle;
	left: 2em;
	z-index: -1;
}
button.copy_button {
	@extend button;
	@extend input[value="お絵かき"];
	padding: 3px 1ex 3px 1ex;
	display: inline-block;
}
em.thispage {
	font-weight: bold;
	font-style: normal;
}
.se {
	@extend input;
	background-color: $ushiro;
	color: $moji;
	font-style: normal;
}

.name {
	line-height: 1em;
    border: solid 1px $button;
    border-radius: 5px;
	display: inline-block;
    a {
		text-decoration: none;
        display: block;
		padding: 5px;
		color: inherit;
    }
}
.name:hover {
    background-color: $ushiro;
}


h2 {
	border-left: solid 1ex $border;
	background-color: $th_bg;
	padding-left: 5px;
}
h3 {
	// padding-left: 1ex;
	margin-top: 1ex;
}

figure {
	float: left;
	margin-right: 8px;
	margin-bottom: 1ex;
	img {
		max-width: 100%;
	}
}
figcaption {
	font-size: smaller;
}
ul {
	list-style-type: none;
	font-size: smaller;
}
ul.menu {
	font-size: medium;
	line-height: 2em;
}
.res {
	section {
		display: table;
	}
	h3, h4 {
		font-size: 100%;
		margin-bottom: 1ex;
	}
	figure {
		float: none;
	}
}
.resma {
	color: $resmoji;
}
.thfoot {
	clear: left;
	text-align: right;
}
.button {
	@extend button;
	@extend input[value="お絵かき"];
	padding: 3px 1ex 3px 1ex ;
	display: inline-block;
	a {
		text-decoration: none;
		color: $button_moji;
		i {
			color: $button_moji;
		}
	}
}
.oyano, .oyaresno {
	font-weight: bold;
}
.oekaki {
	font-size: smaller;
}
#appstage {
	display: block;
	text-align: center;
	> * {
		display: inline-block;
		vertical-align: middle;
	}
}
.NEO {
	.color_bk { color: $bk; }
	.color_bk2 { color: $bk2; }
	.color_tool_icon { color: $tool_icon; }
	.color_icon { color: $icon; }
	.color_iconselect { color: $iconselect; }
	.color_text { color: $text; }
	.color_bar { color: $bar; }
	.tool_color_button { color: $tool_button; }
	.tool_color_button2 { color: $tool_button2; }
	.tool_color_text { color: $tool_text; }
	.tool_color_bar { color: $tool_bar; }
	.tool_color_frame { color: $tool_frame; }
}
.palette {
	width: 180px;
	fieldset {
		text-align: center;
		textarea {
			width: 120px;
			height: 1.2em;
		}
	}
}
.c {
	text-align: center;
}
#catalog > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	div {
		width: $cat_img_size + 16px;
		text-align: center;
		overflow: hidden;
	}
	p {
		margin: 0.5ex auto;
	}
	img {
		width: $cat_img_size;
		height: $cat_img_size;
	}
}
.delfo {
	font-size: smaller;
	th, td {
		border: 1px solid $ushiro;
	}
	tr:nth-child(odd) {
		background-color: $th_bg;
	}
}

//以下レスポンシブ対応
@media screen and (max-width: 1024px) {
	header, main > section > .thread, main > article#catalog, footer > article {
		width: 90%;
	}
	.res {
		clear: left;
	}
}

@media screen and (max-width: 450px) {
	textarea, input[name="upfile"] {
		width: 15em;
	}
	#appstage {
		display: block;
	}
}

//----------

#search {
	body {
		margin: 8px 10px;
		font-family: "Hiragino Sans", meiryo, ヒラギノ角ゴシック, メイリオ, sans-serif;
		font-size: 16px;
		line-height: 150%;
		color: #FFF;
		background-color: #222;
		letter-spacing: .08em
	}
	
	h1 {
		font-size: 16px;
		display: inline-block;
		margin: 0
	}
	
	.title {
		color: #FFF;
		background-color: #333;
		border-left: 8px solid #369;
		padding: 6px 5px 2px;
		margin: 0 0 10px
	}
	
	a {
		color: #669;
		text-decoration: underline
	}
	
	a:hover {
		text-decoration: none
	}
	
	
	#main {
		margin: 0 auto;
		width: 928px
	}
	.newimg ul {
		margin: 0;
		padding: 0
	}
	
	.newimg li {
		display: inline-block
	}
	
	.newimg {
		margin: 19px 0 10px 0;
		line-height: 1;
	}
	
	.catalog {
		width: 180px;
		margin: 0 5px 5px 0
	}
	
	.catalog img {
		width: 100%;
		vertical-align: text-top;
		border: none
	}
	
	.newimg li:nth-of-type(5n) {
		margin-right: 0
	}
	
	.clear {
		clear: both
	}
	
	.leftbox {
		float: left
	}
	
	.rightbox {
		float: right
	}
	
	.leftbox,
	.rightbox {
		width: auto;
		/* margin-bottom: 16px; */
		/* margin-top: 1px; */
		margin: 1px 0 16px;
	}

	p{
		margin: 1em 0;
	}
	
	h3 {
		font-size: 16px;
		font-weight: 400;
		margin: 0
	}
	
	.title_wrap {
		display: inline-block
	}
	
	input[type=text] {
		height: 20px;
		width: 180px;
		border: 1px solid;
		color: #FFF;
		border-color: #69C;
		background-color: #003;
		vertical-align: middle
	}
	
	input[type=submit] {
		color: #000;
		border: 1px solid;
		border-color:  #69C;
		background-color: #369;
		vertical-align: middle
	}
	
	
	.menu {
		margin: 16px 0 14px
	}
	
	.name {
		font-weight: 700;
		color: #FFF;
		display: inline-block;
		border: 1px solid #336;
		border-radius: 6px;
		line-height: 1em;
	}
	
	.name a {
		color: #FFF;
		// color: #003;
		display: block;
		padding: 5px;
	}
	
	.name:hover {
		background-color: #669
	}
	
	.comments_title_wrap a {
		text-decoration: none;
	}
	
	.res_button_wrap {
		text-align: right;
		margin: 8px 0 -8px
	}
	
	.res_button form {
		display: inherit
	}
	
	.res_button_wrap form {
		display: inline-block;
		width: 200px;
		vertical-align: inherit
	}
	
	.page_top {
		display: inline-block;
		margin: 0 0 0 6px;
		vertical-align: -webkit-baseline-middle
	}
	
	.res_button {
		width: 5em
	}
	
	.res_button:hover {
		background-color: #001
	}
	
	.comments_title_wrap {
		display: block;
		line-height: 2em;
		margin: 8px 0 5px;
	}
	
	h2 {
		font-weight: 400;
		font-size: 16px;
		display: inline-block;
		margin: 0 0 8px;
		background-color: inherit;
	}

	.s_foot{
		margin: 8px 0 0;
	}
	
	input[type=text]:hover {
		background-color: #001
	}
	
	input[type=radio] {
		display: none
	}
	
	.label {
		color: #666;
		display: inline-block;
		padding: 0 10px;
		text-align: center;
		cursor: pointer;
		border: 2px solid #66C;
		border-radius: 15px
	}
	
	input[type=radio]:checked+label {
		color: #000;
		background: #DDF
	}
	
	.label:hover {
		background-color: #EEF
	}
	
	.radio {
		display: inline-block;
		margin: 0 0 16px 0
	}
	@media screen and (max-width:967px) {
		#main {
			width: 736px
		}
		.newimg li:nth-of-type(5n) {
			margin-right: 5px
		}
	
		.newimg li:nth-of-type(4n) {
			margin-right: 0
		}
	
	}
	
	@media screen and (max-width:767px) {
		#main {
			width: 100%
		}
		.newimg {
			padding: 5px 0 0 0
		}
	
		.catalog {
			width: 24.2%
		}
	
		.catalog {
			margin: 0 1.0666% 3px 0
		}
	
		.newimg li:nth-of-type(5n) {
			margin-right: 1.0666%
		}
	
		.newimg li:nth-of-type(4n) {
			margin-right: 0
		}
	
	}
}